@using TekhnelogosInterviewProject.Entity.DTOs

@model List<PersonalWithRoleDto>


@{
    ViewData["Title"] = "Personel Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string statusColor = ""; 
}

<!-- Site wrapper -->
<div class="wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Personel Listesi</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Personel Listesi</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <a href="/Personal/AddPersonal/" class="btn btn-success">
                <i class="fas fa-plus"></i> Yeni Personel
            </a>

            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 5%">
                                #
                            </th>
                            <th style="width: 15%">
                                Personel Adı
                            </th>
                            <th style="width: 15%">
                                Personel Soyadı
                            </th>
                            <th style="width: 20%">
                                Kullanıcı Adı
                            </th> 
                            <th style="width: 15%">
                                Rol
                            </th>
                            <th style="width: 5%">
                                Durumu
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            if (item.IsActive)
                            {
                                statusColor = "badge badge-success";
                            }
                            else
                            {
                                statusColor = "badge badge-danger";
                            }

                            <tr>
                                <td>
                                    @item.PersonalId
                                </td>
                                <td>
                                    @item.PersonalName
                                </td>
                                <td>
                                    @item.PersonalSurname
                                </td>
                                <td>
                                    @item.UserName
                                </td> 
                                <td>
                                    @item.Role.RoleName
                                </td> 
                                <td>
                                    <span class="@statusColor"> @(item.IsActive ? "Aktif":"Pasif")</span>
                                </td>


                                <td class="project-actions text-right">
                                    <a class="btn btn-info btn-sm" href="/Personal/EditPersonal/@item.PersonalId">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Personal/DeletePersonal/@item.PersonalId">
                                        <i class="fas fa-trash">
                                        </i>
                                        Sil
                                    </a>
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>



